@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
	margin: 100px 0px 0px 0px;
	background-color: #f2f2f7;
	font-family: 'Abril Fatface', cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Header block start*/
header {
	width: 100%;
	padding-top: 10px;
	background-color: #F2F2F7;
	position: fixed;
	top: 0;
	font-size: 20px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.19);
}

div.company-logo-img {
	width: 70%;
	float: left;	
}

img#header-img {
	width: 100%;
	max-width: 300px;
	margin: 10px auto;
}

nav#nav-bar {
	width: 30%;
	float: right;
	margin: auto;
}

nav ul {
	list-style-type: none;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
}

nav ul li {
	display: inline;
	width: 33%;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: cornflowerblue;
}
/*Header block end*/

/*Email section start*/

form#form {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

input#email {
	margin: auto;
	height: 2em;
	width: 20em;
	border: 1 solid;
	border-radius: 5px;
	font-size: 14px;
}

input#submit {
	margin: 20px auto;
	height: auto;
	width: auto;
	background-color: #ffe366;
	color: black;
	line-height: 2;
	font-size: 20px;
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	border: 0;
	border-radius: 4px;
	animation-name: overflow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.19);
}

input#submit:hover {
	animation-name: none;
}

@keyframes overflow {
	0% {
		background-color: #ffe366;
		color: black;
	}
	50% {
		background-color: #ff831d;
		color: azure;
	}
	100% {
		background-color: #ffe366;
		color: black;
	}
}
/*Email section end*/

/*Features section start*/
section#features {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

#left {
	display: block;
	float: left;
	margin-top: 50px;
	margin-right: 25px;
}

div#sub-section {
	float: right;
	max-width: 800px;
}
/*Features section end*/

/*Video section start*/
section#video-section {
	margin-bottom: 50px;
}
iframe#video {
	box-shadow: 0 10px 10px 1px rgba(0,0,0,0.19);
}
/*Video section end*/

/*Pricing section start*/
section#pricing-section {
	display: flex;
	flex-direction: row;
	width: 70%;
	text-align: center;
	margin-bottom: 20px;
}

#tenor, #bass, #valve {
	margin: 10px;
	width: 33%;
	border: thick;
	box-shadow: 0 2px 10px 1px rgba(0,0,0,0.19);
}

div.level {
	width: 100%;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 3;
	background-color: darkgray;
}

#tenor > ul, #bass > ul, #valve > ul {
	list-style-type: none;
	text-align: left;
	line-height: 2;
}

input[type="button"] {
	margin-bottom: 20px;
	background-color: #ffe366;
	width: auto;
	height: auto;
	line-height: 2;
	font-size: 16px;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
}

input[type="button"]:hover {
	background-color: #ff831d;
	transition: 1s;
}
/*Pricing section end*/


/*Footer start*/
footer {
	width: 70%;
	background-color: darkgray;
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}

ul#footer-list {
	list-style-type: none;
}

ul#footer-list li {
	display: inline;
	margin: 10px;
	font-size: 18px;
}
/*Footer end*/

/*
@media only screen and (max-width: 300px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
*/
}